
.background-one {
  background-attachment: fixed;
  background-image: image-url('bg-1-low-quality.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;

  .container {
    color: $white;
    height: 100%;
    padding-top: 5vh;

  }
}

.background-two {
  background-attachment: fixed;
  background-image: image-url('bg-2-low-quality.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;

  .jumbotron {
    background-color: rgba($white, .8);
  }
}
