.lazy-load-backgrounds {
  -webkit-transition: background-image 5s ease;
  -moz-transition: background-image 5s ease;
  -ms-transition: background-image 5s ease;
  -o-transition: background-image 5s ease;
  transition: background-image 5s ease;
}